<div class="nav-bar">
    <img class="logo" src="../../../assets/logo/logo.svg" alt="logo">
    <nav>
        <ul class="nav-links">
            <li><a routerLink=""  routerLinkActive = "active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
            <li><a routerLink="Paper" routerLinkActive = "active">Paper</a></li>
            <li><a routerLink="Compose" routerLinkActive = "active">Compose</a></li>
            <span class="vl"></span>
            <li><a href="#">SignIn</a></li>
        </ul>
    </nav>
</div>