<div class = "wrapper">
    <div class= "search-wrapper">
        <input type="text" (keydown) = "onKeydown()" (keyup) = "onKeyup()" placeholder="Search..." [(ngModel)] = "query">
    </div>


    <div class="result-wrapper">
        <div class="spinner-border spinner" role="status" *ngIf="showSpinner">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="list-wrapper" *ngIf="!showSpinner">
            <shared-papers-list [papers] = papers></shared-papers-list>
        </div>
    </div>
</div>