<form class="wrapper" (ngSubmit)="signup()">
    <h1>SignUP!</h1>
    <p>Hello, my first name is <input class="text-input" type="text" name="firstName" [(ngModel)]="firstName" > and last name is <input class="text-input" type="text" name="lastName" [(ngModel)]="lastName">.<br>
    I prefer this username <input class="text-input" type="text" name="username" [(ngModel)]="username" > and this password <input class="text-input" type="password" name="password" [(ngModel)]="password" >,<br> 
    also this is email <input class="text-email" type="text" name="email" [(ngModel)]="email"> where you can contact me.</p>
    <input class="btn btn-outline-light" type="submit" value="Confirm">
</form>